# roles/sauvegarde/templates/rclone.conf.j2
# Généré par Ansible — ne pas éditer manuellement

[hetzner]
type = sftp
host = {{ hetzner_host }}
user = {{ hetzner_user }}
pass = {{ vault_hetzner_password | b64encode }}
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum
