<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nas-logo.mount-watchdog</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/nas-logo-mount-watchdog.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>120</integer>
  <key>StandardOutPath</key>
  <string>/tmp/nas-logo-mount-watchdog.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/nas-logo-mount-watchdog.err</string>
</dict>
</plist>
