# roles/immich/templates/docker-compose.yml.j2
name: immich

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:{{ immich_version }}
    volumes:
      - {{ immich_data_dir }}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    ports:
      - {{ immich_port }}:3001
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/server-info/ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:{{ immich_version }}
    volumes:
      - model-cache:/cache
    env_file:
      - .env
    restart: always

  redis:
    container_name: immich_redis
    image: docker.io/redis:6.2-alpine
    healthcheck:
      test: redis-cli ping
      interval: 30s
    restart: always

  database:
    container_name: immich_postgres
    image: docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0
    environment:
      POSTGRES_PASSWORD: {{ vault_immich_db_password }}
      POSTGRES_USER: immich
      POSTGRES_DB: immich
    volumes:
      - {{ immich_db_dir }}:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "immich"]
      interval: 30s

volumes:
  model-cache:
